h2{background-color:#d6ff85; margin: 40px; 
	border:2px solid brown}
.uno{padding: 20px;}
.dos{padding:10px 15px 10px 15px}
.tres{padding:25px 0px 0px 0px}

p{background-color: #85fff3; 
	border-bottom: 3px solid purple;
	margin-left: 30px}
.puno{padding:15px}
.pdos{padding-left: 40px}
.ptres{padding:30px 0px 30px 0px }

div{background-color: #859fff;}